body {
      font-family: helvetica, sans-serif;
}

.pure-g {
      box-sizing: border-box;
}

.pure-u-1 {
      box-sizing: border-box;
      text-align: center;
}

h1 {
      margin: 2em 0em 1em 1.3em;
      font-family: 'Coming Soon', cursive;
      text-transform: uppercase;
      font-size: 1.4em;
      font-weight: 600;
      color: #67d5b5;
}

h2 {
      font-size: 1em;
      margin-bottom: 2%;
      text-align: center;
      color: white;
      margin-top: 3%;
      text-transform: uppercase;
}

p {
      margin-bottom: 25px;
      text-align: left;
      line-height: 1.6em;
      padding: 0em 1em 1em 2em;
}

img{
    display: block;
    width: 100%;
}

nav{
  background-color: #67d5b5;
  position: fixed;
  width: 100%;
  height: 8%;
}

a {
  color: hsl(0,0%,95%);
  text-decoration: none;
  padding-top: 1.2%;
  text-transform: uppercase;
}

a:hover{
  color: lightgrey;
}

table{
  text-align: left;
  margin: 10%;
}

span{
  font-weight: 600;
}

.spatie{
  padding: 2% 10% 2% 5%;
}

#profielfoto{
  width: 60%;
  margin-bottom: 5%;
}

#services, #contact{
  background-color: #67d5b5;
}

.fa-book, .fa-pencil, .fa-desktop, .fa-briefcase{
  margin: 10% 0% 0% 45%;
}

.fa-envelope{
  padding-right: 14%;
}

hr{
  border: 0;
  width: 6%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  margin: 0.5em 0em 3em 2em;
}


#contact{
  padding-left: 3%;
}

#voornaam, #achternaam, #email, #onderwerp{
  margin-bottom: 4%;
}

button{
  margin: 2%;
}


#photos {
  line-height: 0;
  column-count:         5;
  column-gap:           0px;
}

#photos img {
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  #photos {
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  column-count:         1;
  }
}
