<div class="pure-g">

  <div class="pure-u-1">
       <nav>
             <a class="pure-u-1-6" href="#home">Home</a>
             <a class="pure-u-1-6" href="#about">about</a>
             <a class="pure-u-1-6" href="#services">services</a>
             <a class="pure-u-1-6" href="#portfolio">portfolio</a>
             <a class="pure-u-1-6" href="#contact">contact</a>
       </nav>
  </div>

  <div  id="home" class="pure-u-1">
    <img class="pure-img" src="https://s-media-cache-ak0.pinimg.com/originals/15/cb/90/15cb901ad127980ffa0d28efcb1b0ef9.jpg">
    <h1>JDC</h1>
  </div>

      <section id="about" class="pure-u-1">
          <div class="pure-u-1-3">
            <img id="profielfoto" class=class="pure-img" src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/10636101_10152655213937570_7710118827141413643_n.jpg?oh=a1dc3287457c59780b1aeb21622ddc7d&oe=58F13A65">
          </div>
          <div class="pure-u-1-2">
          <table>
            <tr>
              <td class="pure-u-1-4"><span>Name</span></td>
              <td class="spatie">:</td>
              <td class="pure-u-2-4">Jasmien De Clerck</td>
            </tr>
            <tr>
              <td class="pure-u-1-4"><span>Email</span></td>
              <td class="spatie">:</td>
              <td class="pure-u-2-4">jasmiendeclerck.jdc@gmail.com</td>
            </tr>
            <tr>
              <td class="pure-u-1-4"><span>Nationality</span></td>
              <td class="spatie">:</td>
              <td class="pure-u-2-4">Belgian</td>
            </tr>
            <tr>
              <td class="pure-u-1-4"><span>Study</span></td>
              <td class="spatie">:</td>
              <td class="pure-u-2-4">Graphic & digital media</td>
            </tr>
            <tr>
              <td class="pure-u-1-4"><span>Passion</span></td>
              <td class="spatie">:</td>
              <td class="pure-u-2-4">Design - web - photography</td>
            </tr>
          </table>
        </div>
      </section>

      <section id="services">
        <div class="pure-g">
          <div class="pure-u-1-4"><i class="fa fa-briefcase fa-2x"></i>
            <h2>WEB DESIGN & DEVELOPMENT</h2>
            <p>The development and layout of static and dynamic websites for different uses.
              I work mainly with HTML, CSS, WordPress & JavaScript.</p>
          </div>
          <div class="pure-u-1-4"><i class="fa fa-desktop fa-2x"></i>
            <h2>PHOTOGRAPHY & VIDEOGRAPHY</h2>
            <p>Making photographs and videos going from fashion portraits to reports and advertisements.
              I like editing in Photoshop & Lightroom. For movies I'm working with Premiere & After Effects.</p>
          </div>
          <div class="pure-u-1-4"><i class="fa fa-pencil fa-2x"></i>
            <h2>GRAPHIC DESIGN</h2>
            <p>Designing all sorts of different graphic media forms.
              For this I'm often using Indesign & Illustrator as well as Photoshop.</p>
          </div>
          <div class="pure-u-1-4"><i class="fa fa-book fa-2x"></i>
            <h2>3D</h2>
            <p>Making 3D models, going from stills to animations. I use it mainly for advertising campaigns for brands & events.
              3D animations are made in Cinema 4D and video editing software as mentioned above.</p>
          </div>
      </div>
      </section>


</div>


  <section id="portfolio">
    <h1>Portfolio</h1>
      <hr align="left">

        <section id="photos">
            <img src="https://s-media-cache-ak0.pinimg.com/564x/ec/b8/7c/ecb87c7ad11576da6c3ada56c627394a.jpg">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/ad/68/1b/ad681b810d3ab27f7523b604041daaf0.png">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/23/75/a5/2375a59e8ee31a398b01d5fbac5c899e.png">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/6d/08/fa/6d08fac97b684323fe0947281c95161f.png">
            <img src="https://s-media-cache-ak0.pinimg.com/236x/51/e1/a3/51e1a33c89cff74e5b73ea07bee80096.jpg">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/d7/37/a5/d737a5f91fc2d57df549f795c66bdac5.png">
            <img src="https://s-media-cache-ak0.pinimg.com/564x/14/80/e8/1480e87e78f2e93edc41970b6f4e1c34.jpg">
            <img src="https://s-media-cache-ak0.pinimg.com/236x/a1/53/88/a15388e1f4ecb633e24dee2373cebaf9.jpg">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/47/7a/14/477a140aaea49d58b18ff1dad4557a07.jpg">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/42/9c/51/429c51e73d3565925b999d45199a7d18.png">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/c6/ff/d8/c6ffd8b573798e17f4996d62d02ac8ed.jpg">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/f5/e7/8b/f5e78ba704c010df3aa157458297ce0f.jpg">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/ee/d8/4c/eed84cb36b559df086798b773efa429d.png">
            <img src="https://s-media-cache-ak0.pinimg.com/564x/33/fd/e9/33fde9cdb447e6c507ec4e70b3d47801.jpg">
        </section>
  </section>

<section id="contact">
<form class="pure-form pure-form-stacked">
    <fieldset>
    <h2 class="pure-u-1">Contact</h2>
        <div class="pure-g">
            <div class="pure-u-1-3">
                <label for="voornaam">First name</label>
                <input id="voornaam" class="pure-u-16-24" type="text">
            </div>
            <div class="pure-u-1-3">
                <label for="achternaam">Surname</label>
                <input id="achternaam" class="pure-u-16-24" type="text">
            </div>
            <div class="pure-u-2-3">
                <label for="email">E-Mail</label>
                <input id="email" class="pure-u-20-24" type="email" required>
            </div>
            <div class="pure-u-1-2">
                <label for="onderwerp">I'd like to know more about</label>
                <select id="onderwerp" class="pure-input-1-2">
                    <option>Services</option>
                    <option>Prices</option>
                    <option>Possibilities</option>
                    <option>Other...</option>
                </select>
            </div>
        </div>
        <button type="submit" class="pure-button pure-button-primary"><i class="fa fa-envelope"></i>Submit</button>
    </fieldset>
</form>
</section>
